@import '../../partials/variables';

.Signup {
  &-title {
    font-family: $app-font;
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 10rem;

    &-legend {
      margin-bottom: 2rem;
    }

    &-email {
      width: 70%;
      font-size: 2rem;
      padding: .5rem;
      padding-left: 1rem;
      box-sizing: border-box;
    }

    &-password {
      display: block;

    }

    &-checkbox {
      height: 2rem;
      margin-bottom: 3rem;
    }
  }

  &-submit {
    display: block;
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
  }
}