.Library {
  height: calc(100vh - 90px);
  & a {
    display: block;
    height: 50%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    font-size: 6rem;

    &:link, &:visited {
      color: white;
      text-decoration: none;
    }
  }
}