.Password {
  width: 70%;
  position: relative;

  &-input {
    display: block;
    width: 100%;
    font-size: 2rem;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 3.5rem;
    box-sizing: border-box;
  }

  &-eye {
    width: 2rem;
    color: rgb(82, 82, 82);
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}