@import '../../partials/variables';

.Header {
  position: relative;
}

.app-name {
  font-family: $app-font;
  border-bottom: 1px solid grey;
  text-align: center;
  font-size: 4rem;
  padding: 1.5rem 0;
  background-color: #eee;
  box-shadow: 0 .5rem 1.5rem rgba(70, 70, 70, 0.2);
}