.PickController {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.tune-wrapper {
  height: 19.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tune-name {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
  margin-bottom: 1.2rem;
  line-height: 1.2;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-weight: 600;
}

.key {
  font-size: 7rem;
  text-align: center;
  margin-bottom: 4rem;
  letter-spacing: -2px;

  sup {
    font-size: 4rem;
  }
}

.next-button {
  margin: 0 auto;
  font-size: 5rem;
  border: 2px solid black;
  padding: 1.5rem;
  border-radius: 10px;
  display: block;
  margin-bottom: 4.2rem;
  cursor: pointer;
  color: black;
  background-color: #eee;
}

.small-buttons-wrapper {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 90%;
  margin-bottom: 3rem;
}

.small-btn {
  border: 2px solid #573704;
  padding: 1.2rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  font-family: inherit;
  color: black;
  background-color: #eee;
}

.skip-button {
  font-weight: 800;
  padding: 1rem 1.7rem 1rem 1.7rem;
}

.raise-button,
.lower-button {
  font-size: 3rem;
}

.notes-button {
  display: inline-block;
  font-size: 1.8rem;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
  align-self: center;
  background-color: inherit;
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 105vw;
  background-color: rgba(0, 0, 0, .8);
  opacity: 0;
  transition: opacity .2s;
  height: 0;
}

.level-change-popup {
  position: absolute;
  top: 50vh;
  left: 50vw;
  height: 12rem;
  width: 32rem;
  transform: translate(-50%, -50%) scale(.1);
  background-color: #2ecc71;
  padding: 1rem;
  box-sizing: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  opacity: 0;
  transition: all .6s;
}

.popped-popup {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.warning-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
  width: 100%;
}

.cancel,
.confirm,
.okay {
  display: inline-block;
  font-size: 2rem;
  background-color: #eee;
  border: 2px solid #0a2e19;
  border-radius: 5px;
  padding: .5rem;
}

.okay {
  display: none;
}

button {
  touch-action: manipulation;
}

;

.picker-info {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: start;

  &-picking {
    text-align: start;

    >p {
      font-size: 1.3rem;
      font-weight: bold;
      padding-left: 1rem;
      margin-bottom: -.7rem;
    }
  }

  &-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -2px;
  }
}