@import '../../partials/variables';

.Login {
  &-title {
    font-family: $app-font;
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 10rem;

    &-legend {
      margin-bottom: 2rem;
    }

    &-email {
      width: 70%;
      font-size: 2rem;
      padding: .5rem;
      padding-left: 1rem;
      box-sizing: border-box;
    }

    &-password {
      display: block;

    }
  }

  &-signup {
    font-size: 2rem;

    &:link {
      color: black;
      text-decoration: none;
      border-bottom: 1px solid black;
    }
  }
}