.AddSong {

  &-screen{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
  }
  
  &-form {
    position: fixed;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: white;
    font-size: 2rem;
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & label {
      font-weight: bold;
    }

    &-heading {
      font-weight: bold;
      font-size: 1.3rem;
      align-self: flex-end;
      transform: translateY(-.5rem);
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;

      &-input {
        width: 17rem;
      }
    }

    &-key {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 70%;
    }

    &-knowledge {
      border: none;

      & legend {
        font-weight: bold;
        font-size: 1.7rem;
        transform: translateY(.5rem);
      }

      &-grouping {
        display: flex;
        align-items: center;
        margin-top: 1.2rem;
      }

      &-checkbox {
        margin-right: 1.5rem;
      }

      &-label {
        font-size: 1.8rem;
        display: block;
        text-align: left;
        & span {
          font-size: 1.4rem;
          display: block;
          font-weight: 400;
        }
      }
    }

    &-notes-label {
      display: block;
    }
    
    &-notes-input {
      width: 80%;
      height: 8rem;
    }

    &-buttons {
      display: flex;
      justify-content: space-evenly;
      width: 80%;
      margin: 0 auto;
    }

    & button {
      padding: .5rem;
      font-size: 1.5rem;
      background-color: inherit;
      border: 1px solid black;
      border-radius: 5px;
      display: block;
    }
  }
}